{
  "openapi": "3.0.0",
  "info": {
    "title": "Notification Service",
    "version": "1.0.0",
    "description": "Service for sending notifications to customers"
  },
  "servers": [
    {
      "url": "https://api.kong-air.com"
    }
  ],
  "paths": {
    "/notifications/email": {
      "post": {
        "summary": "Send email notification",
        "operationId": "send-email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent"
          }
        },
        "x-kong-name": "send-email-notification"
      }
    },
    "/notifications/sms": {
      "post": {
        "summary": "Send SMS notification",
        "operationId": "send-sms",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent"
          }
        },
        "x-kong-name": "send-sms-notification"
      }
    }
  },
  "x-kong-name": "notification-service"
}